<div style="text-align: center; font-family: 'Helvetica Neue', sans-serif; background-color: #cccccc; padding: 1em;">
    <div style="background-color: white; max-width: 450px; padding: 1em; border-radius: 10px; margin: auto;">
        <div style="text-align: center; background-color: rgb(13, 110, 253); align-items: center; padding: 1em 0">
            <div style="display: flex; align-items: center; justify-content: center">
                <img src="https://{{ base_url }}static/images/wrlc-logo-7-white.png" alt="WRLC logo" style="max-height: 40px" />
                <div style="color: white; margin: 0 0 0 1em; padding: 0; font-size: 1.25em;">WRLC Identity Services</div>
            </div>
        </div>
        <h1 style="font-size: 1.25em;">{{ _fsdomain('Password Reset') }}</h1>
        <div style="text-align: left; padding: 0 1em 1em">
            <p>Hi {{ user.username }},</p>
            <p>Your password was just changed on WRLC Identity Services.</p>
            <p>If you didn't change your password, please
                {% if security.recoverable %}
                    reset it immediately.</p>
                    <div style="text-align: center; margin: 2em 0">
                        <a href="{{ url_for_security('forgot_password', _external=True) }}" style="background-color: rgb(13, 110, 253); color: white; padding: 1em; text-decoration: none; border-radius: 5px">Reset Password</a>
                    </div>
                    <p>Or
                {% endif %}
            contact the WRLC Service Desk:</p>
            <table>
                <tr>
                    <th>Email:</th>
                    <td><a href="mailto:ServiceDesk@wrlc.org">ServiceDesk@wrlc.org</a></td>
                </tr>
                <tr>
                    <th>Web:</th>
                    <td><a href="https://servicedesk.wrlc.org">https://servicedesk.wrlc.org</a></td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>301-390-2050</td>
            </table>
            <p>Thanks,<br />WRLC Identity Services</p>
        </div>
        <div style="margin: 1em; text-align: center; font-size: 0.8em; color: #666666; max-width: 450px;">
            <p>This email was sent to: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            <p>WRLC | 901 Commerce Drive, Upper Marlboro, MD 20774 | (301) 390-2000 | <a href="https://wrlc.org">https://wrlc.org</a></p>
        </div>
    </div>
</div>
