{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.home') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.users') }}">Users</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.user_detail', username=user.username) }}">{{ user.username }}</a>
            </li>
            <li class="breadcrumb-item active">Change password</li>
        </ol>
    </nav>
    <h1>Change password</h1>
    <form method="post"  enctype="multipart/form-data">
        {{ form.csrf_token }}
        <input type="hidden" name="id" value="{{ user.id }}">
        <div class="mb-3 required">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control") }}
        </div>
        <input type="submit" value="Change password" class="btn btn-warning">

    </form>
{% endblock %}