{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.home') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.admin') }}">Admin</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.users') }}">Users</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('idp.user_detail', username=user.username) }}">{{ user.username }}</a>
            </li>
            <li class="breadcrumb-item active">Delete user</li>
        </ol>
    </nav>
    <h1>User status</h1>
    {% if user.username != 'root' %}
        <p>Are you sure you want to {{ 'deactivate' if user.active == 1 else 'activate' }} user <strong>{{ user.username }}</strong>?</p>
        <form method="post">
            {{ form.csrf_token }}
            <input type="hidden" name="id" value="{{ user.id }}">
            <button type="submit" class="btn btn-danger">{{ 'Deactivate' if user.active == 1 else 'Activate' }} user</button>
            <a href="{{ url_for('idp.user_detail', username=user.username) }}" class="btn btn-secondary">Cancel</a>
        </form>
    {% else %}
        <p>User <strong>{{ user.username }}</strong> cannot be deactivated.</p>
        <p><a href="{{ url_for('idp.user_detail', username=user.username) }}">Return to User Detail</a></p>
    {% endif %}
{% endblock %}